/* overall blog layout */
.wrapper {
  display: grid;
  grid-template-rows: 120px 1fr 80px;
  grid-template-areas:
    "header"
    "main"
    "footer";
  -webkit-transition:-webkit-transform .25s ease;
  transition:transform .25s ease;
}


@media screen and (max-width: 480px) {
  .wrapper {
    display: block;
  }
}

@media screen and (max-width: 650px) {
  .wrapper.menu-visible {
    transform: translate(-290px, 0);
  }
}



header {
  grid-area: header;
}

.container-home .main {
  grid-area: "main";
  display: grid;
  grid-template-rows: 1fr 1fr minmax(150px, auto) 1fr;
  grid-template-areas:
    "articles"
    "prom"
    "recent";
}

.home-articles {
  grid-area: articles;
}

.home-prom {
  grid-area: prom;
}

.home-recent {
  grid-area: recent;
}


/* article page */

.container-article main {
  display: grid;
  grid-template-columns: minmax(400px,1fr) minmax(250px,300px);
  grid-column-gap: calc(var(--baseline)*6);
}

@media screen and (max-width: 900px) {
  .container-article main {
    display: block;
  }
}

/* footer */

footer {
  grid-area: footer;
}
