@import "./variables.css";
@import "./typography.css";
@import "./layout.css";
@import "./header.css";
@import "./home.css";
@import "./article.css";
@import "./footer.css";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

figure {
  margin-bottom: calc(var(--baseline) *2);
}
